$pattern:("up":translateY(8px),
	"right":translateX(-8px),
	"down":translateY(-8px),
	"left":translateX(8px),
);

@each $key,
$value in $pattern {
	.appear.#{$key} {
		& .item {
			transform: $value;
		}
	}
}


.appear {
	& .item {
		transition: all .8s;
		opacity: 0;
	}

	&.inview {

		& .item {
			opacity: 1;
			transform: translateY(0);

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.2s;
				}
			}
		}
	}
}